<% provide(:title, 'Sign up') %>


<h1>Sign up</h1>

<%= form_for @user do |f| %>
<% if @user.errors.any? %>
<div class="error_messages">
	<h2>Form is invalid</h2>
	<ul>
		<% @user.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="row">
	<div class="span6 offset3">

	<%= f.label :yob, "Year of Birth" %>
	<%= f.text_field :yob %>

	<%= f.label :gender %>
	<%= f.select :gender, ['male', 'female', 'transgender'] %>

	<%= f.label :password %>
	<%= f.password_field :password %>

	<%= f.label :password_confirmation, "Confirm Password" %>
	<%= f.password_field :password_confirmation %>

	<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
	<% end %>
</div>
</div>
