<% provide(:title, 'Design') %>

<div class="container">
	<div class="contentful">
			<div class="row">
				<div id="firstbox" class="col-md-9">
					<h1> @gency </h1>
					<hr class="underline">
					<h2>Human-centered design & agile development</h2>
						
						<div class="subsub">
							<ul class=" nav nav-tabs nav-justified">
							<li> <%= link_to "@gency", agency_path %></li>
							<li class="active"><%= link_to "Design", design_path %></li>
							<li><%= link_to "Development", development_path %></li>
							</ul>
						</div> <!-- subsub -->

					<br><br>
					<p> 
						What change has the element of interactivity brought to the discipline of design? How does quantifiable media alter our communication efforts? Can we adjust, gauge and re-adjust design choices immediately? What effect does this modification have on a user's experience, or buying decisions? Can our design decisions influence social user propagation statistics favorably without explicit intrinsic and extrinsic motivation?<br><br>

                        In addition to some of the conceptual and philosophical facets of design, there are developments in tools, techniques and innovation to stay abreast of. Our approach to the intricacies of evolving design is strategy-driven and <%= link_to "human-centered", "http://en.wikipedia.org/wiki/User-centered_design", :target => "_blank"%>, using the very latest technology and powered by our resource network which spans many disciplines from technology and photography to anthropology and mathematics.</p>

						<p> <%=mail_to "agency@16circles.com", "Contact us", subject: "Design Inquiry" %> to see how we can use perspective and methodology to tackle your next design challenge effectively.  </p>
					</div> <!-- firstbox -->
					
					<div id="secondbox" class="col-md-3">
						<div class="resources">
							
							<div class="dl">
								<h5> Downloads </h5>
									<%= link_to (image_tag("dl-cover-devign.jpg", :alt => "Download the pdf", size: "100x50", :class => "img-thumbnail", data: {toggle: "modal", target: "#pdfdes"})), "#" %>
							</div> <!-- dl -->
						
							<div class="Contact">
								<h5> Contact: </h5>
								<%= mail_to "agency@16circles.com" %> 
							</div> <!-- contact -->

							<div class="socializer" id="propagate">
								<h5> Share </h5>

									<div class="social">
									<%= link_to (image_tag("facebook.png", :alt => "Share on Facebook", size: "35x35", :class => "socialfilt")), "https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.16circles.com%2Fdesign%2F", :target => "_blank"  %>
			
									<%= link_to (image_tag("twitter.png", :alt => "Share on Twitter", size: "35x35", :class => "socialfilt")), "https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.16circles.com%2Fdesign%2F&via=16circles&text=Take%20a%20look%0A", :target => "_blank" %>

									</div> <!-- social -->
								</div> <!-- socializer -->


								<div class="modal fade" id="pdfdes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									  <div class="modal-dialog modal-sm">
									    <div class="modal-content">
									      <div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									        <h4 class="modal-title" id="myModalLabel">Concentric Circles -<br> <small>Exploring the symbiotic relationship of design & development</small>.</h4>
									      </div>
									      <div class="modal-body">
									        <%= image_tag("dl-cover-devign.jpg", :alt => "Download the pdf", size: "400x200", :class => "img-thumbnail") %>
									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									        <button type="button" class="btn btn-primary" disabled="disabled">Download Report(PDF)</button>
									      </div>
									    </div>
									  </div>
									</div>
							</div> <!-- resources -->	
						</div> <!-- secondbox -->
					</div> <!-- row -->
				</div> <!-- contentful -->
			</div> <!-- container-fluid -->

			




