<% provide(:title, 'Cities in the Developed World') %>

  <div class="container-fluid">
	<div class="contentful">
			<div class="row">
				<div id="firstbox" class="col-md-9">
					<h1> #Urban <h1>
					<hr class="underline">
					<h2>Products, projects & processes for the cities of tomorrow.</h2>
					<div class="subsub">
						<ul class=" nav nav-tabs nav-justified">
						<li><%= link_to "Urban", '/urban' %></li>
						<li><%= link_to "Developing", '/developing' %></li>
						<li class="active"><%= link_to "Developed", '/developed' %></li>
					</ul>
					</div> <!-- subsub -->
					<br>
					<br>

					<p> 
						Developed countries have been in a phase of consolidation following the economic collapse of 2008. They are in the process of rediscovering their own potential and conceptualizing innovative ways to enhance personal productivity and reduce the escalating cost of living. As a byproduct of these prevalent patterns, the focus has shifted away from ownership on to experience; a shift which is crafting entire industries and challenging the titans as it happens. Would 'cordcutting' be a phenomenon if Aereo, Hulu and Netflix did not exist? How did services like Uber and Lyft swoop in and seize marketshare from establshed taxi operations? When did AirBnB grow into the establishment-challenging movement that it is? Why are consumers so responsive to these startups? <br><br>

						Renewed interest in solar energy, increased purchases of electric vehicles, more investment in personal identity management are indicative of fewer external dependencies. Residents are looking inwards and focusing more on organization, creation, curation, while becoming increasingly more conscious of privacy issues and violation. <br><br>

						We believe this continuing trend will result in clearer demarcation between public and personal data and as such, our current efforts are geared towards creating a digital advertising mechanism which strikes a balance between effective, quantifiable targeting and protection of personal privacy. 


						<br><br>

						
					</p>
				</div>
				<div id="secondbox" class="col-md-3">
								<div class="resources">
									<div class="dl">
									<h5> Downloads </h5>
									<%= link_to (image_tag("dl-cover-urban.jpg", :alt => "Download the pdf", size: "100x50", :class => "img-thumbnail")) %>
								</div>
								<div class="Contact">
									<h5> Contact: </h5>
				 					<%= mail_to "urban@16circles.com" %> 
								</div>
								<div class="socializer" id="propagate">
									<h5> Share </h5>
									<div class="social">
						<%= link_to (image_tag("facebook.png", :alt => "Share on Facebook", size: "35x35", :class => "socialfilt")), "https://www.facebook.com/dialog/feed?app_id=245200332347570&link=http%3A%2F%2Fwww.16circles.com%2FSafeStreets&name=SafeStreets&redirect_uri=http%3A%2F%2Fs7.addthis.com%2Fstatic%2Fpostshare%2Fc00.html", :target => "_blank" %>
			
						<%= link_to (image_tag("twitter.png", :alt => "Share on Twitter", size: "35x35", :class => "socialfilt")), "https://twitter.com/share", :target => "_blank" %>

						<%= link_to (image_tag("linkedin.png", :alt => "Share on Linkedin", size: "35x35", :class => "socialfilt")), "https://twitter.com/share", :target => "_blank" %>
					</div> <!--Social-->
				</div><!--Socializer-->
			</div><!--Resources-->
		</div><!--SecondBox-->
	</div><!--Row-->
</div><!--Contentful-->
</div><!--Container-Fluid-->