<% provide(:title, 'Cities in the Developing World') %>

  <div class="container-fluid">
	<div class="contentful">
			<div class="row">
				<div id="firstbox" class="col-md-9">
					<h1> #Urban <h1>
					<hr class="underline">
					<h2>Products, projects & processes for the cities of tomorrow.</h2>
					<div class="subsub">
						<ul class=" nav nav-tabs nav-justified">
						<li><%= link_to "Urban", '/urban' %></li>
						<li class="active"><%= link_to "Developing", '/developing' %></li>
						<li><%= link_to "Developed", '/developed' %></li>
					</ul>
					</div> <!-- subsub -->
					<br>
					<br>

					<p> 
						Establishing systems to build infrastructure and facilitate civic advancement in developing countries requires innovation and persistence to overcome a unique set of challenges. These encompass regulatory hurdles, governmental complacency, cultural resistance, gender issues, limited funding, unfettered crime, pervasive corruption, citizen safety, lack of data, poverty and inefficient urban planning to name a few. <br><br>
						
						Most of the focus in progressive developing countries should be on building infrastructure, increasing security, improving planning, solidifying manufacturing, enhancing education and reducing income inequalities. Businesses play an indispensable role in shaping the development of cities globally. However, before citizens can make any meaningful contribution to facilitate commerce or development, their safety concerns need to be addressed. With government resources either stretched or inefficient, residents resort to using social media and private messaging apps to organize their daily activities. These tools are limited in their effectiveness and reach, and do not offer the capability to augment intelligence efforts or let disparate groups benefit from evolving communal knowledge.<br><br>

						SafeStreets is a project currently being developed for testing in Pakistan, which will empower citizens to establish private notification networks, partake in incident mapping and become a platform for distributed data gathering. Citizens should have a third option between polls and protests to influence policy-making. We believe one such option to be privately operated projects which mobilize the resourcefulness and latent potential of the crowds.<br><br>

						<%= link_to "Learn more about SafeStreets", '/SafeStreets' %><br><br>
					</p>
				</div>
				<div id="secondbox" class="col-md-3">
								<div class="resources">
									<div class="dl">
									<h5> Downloads </h5>
									<%= link_to (image_tag("dl-cover-urban.jpg", :alt => "Download the pdf", size: "100x50", :class => "img-thumbnail", data: {toggle: "modal", target: "#pdfurb"})), "#" %>
								</div>
								<div class="Contact">
									<h5> Contact: </h5>
				 					<%= mail_to "urban@16circles.com" %> 
								</div>
								<div class="socializer" id="propagate">
									<h5> Share </h5>
									<div class="social">
						<%= link_to (image_tag("facebook.png", :alt => "Share on Facebook", size: "35x35", :class => "socialfilt")), "https://www.facebook.com/dialog/feed?app_id=245200332347570&link=http%3A%2F%2Fwww.16circles.com%2FSafeStreets&name=SafeStreets&redirect_uri=http%3A%2F%2Fs7.addthis.com%2Fstatic%2Fpostshare%2Fc00.html", :target => "_blank" %>
			
						<%= link_to (image_tag("twitter.png", :alt => "Share on Twitter", size: "35x35", :class => "socialfilt")), "https://twitter.com/share", :target => "_blank" %>

						<%= link_to (image_tag("linkedin.png", :alt => "Share on Linkedin", size: "35x35", :class => "socialfilt")), "https://twitter.com/share", :target => "_blank" %>
					</div> <!--Social-->
				</div><!--Socializer-->

				<div class="modal fade" id="pdfurb" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									  <div class="modal-dialog modal-sm">
									    <div class="modal-content">
									      <div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									        <h4 class="modal-title" id="myModalLabel">Technology & the Cities of Tomorrow - <em> report </em> -</h4>
									      </div>
									      <div class="modal-body">
									        <%= image_tag("dl-cover-urban.jpg", :alt => "Download the pdf", size: "400x200", :class => "img-thumbnail") %>
									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									        <button type="button" class="btn btn-primary" disabled="disabled">Download Report(PDF)</button>
									      </div>
									    </div>
									  </div>
									</div>


			</div><!--Resources-->
		</div><!--SecondBox-->
	</div><!--Row-->
</div><!--Contentful-->
</div><!--Container-Fluid-->