<% provide(:title, 'Cities in the Developing World') %>

  <div class="container-fluid">
	<div class="contentful">
			<div class="row">
				<div id="firstbox" class="col-md-9">
					<h1> #Urban <h1>
					<hr class="underline">
					<h2>Products, projects & processes for the cities of tomorrow.</h2>
					<div class="subsub">
						<ul class=" nav nav-tabs nav-justified">
						<li><%= link_to "Urban", '/urban' %></li>
						<li class="active"><%= link_to "Developing", '/developing' %></li>
						<li><%= link_to "Developed", '/developed' %></li>
					</ul>
					</div> <!-- subsub -->
					<br>
					<br>

					<p> 
						Most of the focus in progressive developing countries is on building infrastructure, increasing security, improving planning, solidifying manufacturing and emphasizing social enterprise.
						In addition to the challenge of urban planning and development with limited resources, cities in the developing world face additional restrictive problems including, but not limited to citizen safety, widespread corruption and inconsistent commerce facilitation mechanisms. <br><br>

						SafeStreets is a project currently being developed for testing in Pakistan, which will empower citizens to establish private notification networks, and become a platform for distributed data gathering. Citizens should have a third option between polls and protests to influence policy-making. We believe one such option to be privately operated projects which unlocks the resourcefulness and latent potential of the crowds.<br><br>

						<%= link_to "Learn more about SafeStreets", '/SafeStreets' %><br><br>
					</p>
				</div>
				<div id="secondbox" class="col-md-3">
								<div class="resources">
									<div class="dl">
									<h5> Downloads </h5>
									<%= link_to (image_tag("dl-cover-urban.jpg", :alt => "Download the pdf", size: "100x50", :class => "img-thumbnail")) %>
								</div>
								<div class="Contact">
									<h5> Contact: </h5>
				 					<%= mail_to "urban@16circles.com" %> 
								</div>
								<div class="socializer" id="propagate">
									<h5> Share </h5>
									<div class="social">
						<%= link_to (image_tag("facebook.png", :alt => "Share on Facebook", size: "35x35", :class => "socialfilt")), "https://www.facebook.com/dialog/feed?app_id=245200332347570&link=http%3A%2F%2Fwww.16circles.com%2FSafeStreets&name=SafeStreets&redirect_uri=http%3A%2F%2Fs7.addthis.com%2Fstatic%2Fpostshare%2Fc00.html", :target => "_blank" %>
			
						<%= link_to (image_tag("twitter.png", :alt => "Share on Twitter", size: "35x35", :class => "socialfilt")), "https://twitter.com/share", :target => "_blank" %>

						<%= link_to (image_tag("linkedin.png", :alt => "Share on Linkedin", size: "35x35", :class => "socialfilt")), "https://twitter.com/share", :target => "_blank" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
