<% provide(:title, 'Cities in the Developed World') %>

  <div class="container">
	<div class="contentful">
			<div class="row">
				<div id="firstbox" class="col-md-9">
					<h1> #Urban </h1>
					<hr class="underline">
					<h2>Products, projects & processes for the cities of tomorrow.</h2>
					<div class="subsub">
						<ul class=" nav nav-tabs nav-justified">
						<li><%= link_to "Urban", urban_path %></li>
						<li><%= link_to "Developing", developing_path %></li>
						<li class="active"><%= link_to "Developed", developed_path %></li>
					</ul>
					</div> <!-- subsub -->
					<br>
					<br>

					<p> 
						Developed countries have been in a phase of consolidation following the economic collapse of 2008. They are in the process of rediscovering their own potential and conceptualizing innovative ways to enhance personal productivity and reduce the escalating cost of living. As a byproduct of these prevalent patterns, the focus has shifted away from ownership on to experience; a shift which is crafting entire industries and challenging the titans as it happens. Would 'cordcutting' be a phenomenon if Aereo, Hulu and Netflix did not exist? How did Uber become a $50 billion dollar company with established taxi operations? How did AirBnB become the largest accommodation provider without owning any real estate? Why are consumers so responsive to these startups? <br><br>

						Renewed interest in solar energy, increased purchases of electric vehicles, more investment in personal identity management are indicative of fewer external dependencies. Residents are looking inwards and focusing more on organization, creation, curation, while becoming increasingly more conscious of privacy issues and violation. <br><br>

						We believe this continuing trend will result in a clearer demarcation between public and personal data and as such, our current efforts are geared towards creating a digital advertising mechanism which strikes a balance between effective, quantifiable targeting and protection of personal privacy. 


						<br><br>

						
					</p>
				</div>
				<div id="secondbox" class="col-md-3">
								<div class="resources">
									<div class="dl">
									<h6> Downloads </h6>
									<%= link_to (image_tag("dl-cover-urban.jpg", :alt => "Download the pdf", size: "100x50", :class => "img-thumbnail", data: {toggle: "modal", target: "#pdfurb"})), "#" %>
								</div>
								<div class="Contact">
									<h6> Contact: </h6>
				 					<%= mail_to "urban@catalyst.consulting" %> 
								</div>
								<div class="socializer" id="propagate">
									<h6> Share </h6>
									<div class="social">
						<%= link_to (image_tag("facebook.png", :alt => "Share on Facebook", size: "25x25", :class => "socialfilt")), "https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.16circles.com%2Fdeveloped%2F/", :target => "_blank"  %>
			
						<%= link_to (image_tag("twitter.png", :alt => "Share on Twitter", size: "25x25", :class => "socialfilt")), "https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.16circles.com%2Fdeveloped%2F&via=16circles&text=Take%20a%20look%0A", :target => "_blank" %>

					</div> <!--Social-->
				</div><!--Socializer-->

				<div class="modal fade" id="pdfurb" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									  <div class="modal-dialog modal-sm">
									    <div class="modal-content">
									      <div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									        <h4 class="modal-title" id="myModalLabel">Technology & the Cities of Tomorrow - <em> report </em> -</h4>
									      </div>
									      <div class="modal-body">
									        <%= image_tag("dl-cover-urban.jpg", :alt => "Download the pdf", size: "400x200", :class => "img-thumbnail") %>
									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									        <button type="button" class="btn btn-primary" disabled="disabled">Download Report(PDF)</button>
									      </div>
									    </div>
									  </div>
									</div>

			</div><!--Resources-->
		</div><!--SecondBox-->
	</div><!--Row-->
</div><!--Contentful-->
</div><!--Container-Fluid-->