<% provide(:title, 'Development') %>

<div class="container-fluid">
	<div class="contentful">
			<div class="row">
				<div id="firstbox" class="col-md-9">
					<h1> @gency <h1>
					<hr class="underline">
					<h2>Human-centered design & agile development</h2>
						<div class="subsub">
							<ul class=" nav nav-tabs nav-justified">
							<li> <%= link_to "@gency", agency_path%></li>
							<li><%= link_to "Design", design_path %></li>
							<li class="active"><%= link_to "Development", development_path %></li>
						</ul>
						</div><!-- subsub --> 
						<br><br>

						<p> Ubiquity of technology, cheaper connectivity, standardization of protocols and form factors, rapid acceptance of digital businesses and the emergence of the "cloud-first, mobile-first" approach have had a profound effect on our behavior patterns and subsequently on societal patterns. </p>

						<p> Since all marketing is digital today, interactivity should be a core competency of every communication marketer. Developing collateral for a "mobile-first" world requires expertise beyond plain technical competence, as fundamentally understanding consumer behavior and responsiveness to shifting patterns, is mandatory for the successful implementation of plans, and execution of corporate strategies </p>

						<p>In addition to the continual shifts, <%= link_to "the lean startup", "http://en.wikipedia.org/wiki/Lean_startup", :target => "_blank" %> has changed everything, seemingly irreversibly. No other methodology has proven to be less wasteful. By using agile sprints, split testing and metrics monitoring as part of our development plan, we deliver value for customers, businesses and external stakeholders, efficiently. Behavior-driven development also ensures sound documentation for ownership transfer, and we tend to lean towards open source tech and cloud deployments, since they are less frequently a single point of failure, and place more emphasis on competitive innovation. </p>

						<p> <%=mail_to "agency@16circles.com", "Let's talk", subject: "Development Inquiry" %>  about your interactivity, digital development and data visualization requirements, and evaluate if lean methodology and rapid development can be an asset to your team. </p>
					


					</div> <!-- firstbox --> 

					<div id="secondbox" class="col-md-3">
						<div class="resources">
							<div class="dl">
								<h5> Downloads </h5>
								<%= link_to (image_tag("dl-cover-devign.jpg", :alt => "Download the pdf", size: "100x50", :class => "img-thumbnail", data: {toggle: "modal", target: "#pdfdes"})), "#" %>
							</div> <!-- dl -->

						<div class="Contact">
								<h5> Contact: </h5>
								 <%= mail_to "agency@16circles.com" %> 
						</div> <!-- contact -->

						<div class="socializer" id="propagate">
								<h5> Share </h5>
									<div class="social">
										<%=link_to (image_tag("facebook.png", :alt => "Share on Facebook", size: "35x35", :class => "socialfilt")), "https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.16circles.com%2Fdevelopment%2F/", :target => "_blank"  %>
							
										<%= link_to (image_tag("twitter.png", :alt => "Share on Twitter", size: "35x35", :class => "socialfilt")), "https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.16circles.com%2Fdevelopment%2F&via=16circles&text=Take%20a%20look%0A", :target => "_blank" %>
										
									</div> <!-- social -->
								</div> <!-- socializer -->

								<div class="modal fade" id="pdfdes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									  <div class="modal-dialog modal-sm">
									    <div class="modal-content">
									      <div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									        <h4 class="modal-title" id="myModalLabel">Concentric Circles -<br> <small>Exploring the symbiotic relationship of design & development</small>.</h4>
									      </div>
									      <div class="modal-body">
									        <%= image_tag("dl-cover-devign.jpg", :alt => "Download the pdf", size: "400x200", :class => "img-thumbnail") %>
									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									        <button type="button" class="btn btn-primary" disabled="disabled">Download Report(PDF)</button>
									      </div>
									    </div>
									  </div>
									</div>
							</div> <!-- resources -->
						</div> <!-- secondbox -->
					</div> <!-- row -->
				</div> <!-- contentful -->
			</div> <!-- container-fluid -->


