<% provide(:title, 'Development') %>

<div class="container-fluid">
	<div class="contentful">
			<div class="row">
				<div id="firstbox" class="col-md-9">
					<h1> @gency <h1>
					<hr class="underline">
					<h2>Human-centered design & agile development</h2>
						<div class="subsub">
							<ul class=" nav nav-tabs nav-justified">
							<li> <%= link_to "@gency", '/agency' %></li>
							<li><%= link_to "Design", '/design' %></li>
							<li class="active"><%= link_to "Development", '/development' %></li>
						</ul>
						</div><!-- subsub --> 
						<br><br>

						<p> Agile. Open source, parallel development, efficiency, unlocks the innovation layer<br>
						<br>
						<br>
					</p>

						<p> Download the pdf or contact us via the link to learn more about the inextricable link between Designn and development in the digital age. </p>
					</div> <!-- firstbox --> 

					<div id="secondbox" class="col-md-3">
						<div class="resources">
							<div class="dl">
								<h5> Downloads </h5>
								<%= link_to (image_tag("dl-cover-devign.jpg", :alt => "Download the pdf", size: "100x50", :class => "img-thumbnail", data: {toggle: "modal", target: "#pdfdes"})), "#" %>
							</div> <!-- dl -->

						<div class="Contact">
								<h5> Contact: </h5>
								 <%= mail_to "agency@16circles.com" %> 
						</div> <!-- contact -->

						<div class="socializer" id="propagate">
								<h5> Share </h5>
									<div class="social">
										<%=link_to (image_tag("facebook.png", :alt => "Share on Facebook", size: "35x35", :class => "socialfilt")), "https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.16circles.com%2Fdevelopment%2F/", :target => "_blank"  %>
							
										<%= link_to (image_tag("twitter.png", :alt => "Share on Twitter", size: "35x35", :class => "socialfilt")), "https://twitter.com/share", :target => "_blank" %>

										<%= link_to (image_tag("linkedin.png", :alt => "Share on Linkedin", size: "35x35", :class => "socialfilt")), "https://twitter.com/share", :target => "_blank" %>
									</div> <!-- social -->
								</div> <!-- socializer -->

								<div class="modal fade" id="pdfdes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									  <div class="modal-dialog modal-sm">
									    <div class="modal-content">
									      <div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									        <h4 class="modal-title" id="myModalLabel">Concentric Circles -<br> <small>Exploring the symbiotic relationship of design & development</small>.</h4>
									      </div>
									      <div class="modal-body">
									        <%= image_tag("dl-cover-devign.jpg", :alt => "Download the pdf", size: "400x200", :class => "img-thumbnail") %>
									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									        <button type="button" class="btn btn-primary" disabled="disabled">Download Report(PDF)</button>
									      </div>
									    </div>
									  </div>
									</div>
							</div> <!-- resources -->
						</div> <!-- secondbox -->
					</div> <!-- row -->
				</div> <!-- contentful -->
			</div> <!-- container-fluid -->


