<% provide(:title, 'SafeStreets') %>

<body>
  <div class="container-fluid">
	<div class="contentful">
			<div class="row">
				<div id="firstbox" class="col-md-9">
				<h1> SafeStreets <h1>
					<hr class="underline">
					<h2>A portal to a smarter, safer city.</h2>

					<p> Pakistan is a deeply fragmented country struggling to cope with internal and external stressors. The manifestation of these circumstances is more evident in the major cities. Karachi, the 7th largest city in the world - by population - has been labeled the most dangerous megacity in the world. With security being a systemic issue, we're exploring whether distributed technology can make citizens safer.<br><br>

					Our current experiment, in its research phase, is premised on collaboration and knowledge. Safestreets is envisioned as a cloud-based citizen portal to enable residents to monitor the pulse of the city, and contribute information and ideas to a public intelligence platform. The prototype will be an app to initially setup a personal protection and notification network. It will expand on its core functionality incrementally by extending its capability via updates. <br><br>
					We're reaching out to currently connected citizens to gauge the environment as perceived by you. This feedback will not only provide statistics for analysis, but shape current and future products in our urban management roadmap.<br><br>

					Help us try to make your city safer.</p>

					<a class="btn btn-default btn-info" <%= link_to "Take the Survey (4 minutes)", "https://docs.google.com/forms/d/1W1amIGpGIttZiA6yDTaGG6ScgaRu9AEBECSyYhStxCc/viewform?usp=send_form", :target => "_blank" %> </a>
					</div>



				<div id="secondbox" class="col-md-3">
					<div class="resources">
						<div class="dl">
						<h5> Downloads </h5>
					</div>
					<div class="Contact">
					<h5> Contact: </h5>
				 <%= mail_to "safestreets@16circles.com" %> 
				</div>
					<div class="socializer" id="propagate">
						<h5> Share </h5>
						<div class="social">
						<%= link_to (image_tag("facebook.png", :alt => "Share on Facebook", size: "35x35", :class => "socialfilt")), "https://www.facebook.com/dialog/feed?app_id=245200332347570&link=http%3A%2F%2Fwww.16circles.com%2FSafeStreets&name=SafeStreets&redirect_uri=http%3A%2F%2Fs7.addthis.com%2Fstatic%2Fpostshare%2Fc00.html", :target => "_blank" %>
			
						<%= link_to (image_tag("twitter.png", :alt => "Share on Twitter", size: "35x35", :class => "socialfilt")), "https://twitter.com/share", :target => "_blank" %>

						<%= link_to (image_tag("linkedin.png", :alt => "Share on Linkedin", size: "35x35", :class => "socialfilt")), "https://twitter.com/share", :target => "_blank" %>
					</div>
					</div>
						
						</div>
					</div>
				</div>
			</body>



