<% provide(:title, 'Strategy') %>

  <div class="container-fluid">
	<div class="contentful">
			<div class="row">
				<div id="firstbox" class="col-md-9">
					<h1> Strategy <h1>
					<hr class="underline">
					<h2>Futureproofing with digital, data & perspective.</h2>
					<p> The foundation for the future is being forged by the rise of the age of information. The old-	world, model-dependent constraints of sourcing, prototyping, manufacturing, logistics and communication no longer apply. Ubiquity of evolving internet technology, rapid proliferation of increasingly intelligent, data-capable mobile devices, commodification of accessibility, and an exponential increase in application usage have led to an abnormal increase in data point generation.<br><br>
					Big Data is a very real phenomenon which attempts to gain, clean, organize, analyze all data to convert it into actionable knowledge efficiently, effectively and economically. The advantages include better prediction, evaluation and organization models which will help us plan, implement, conserve and manage everything from new product development to epidemic control</p>
				</div>	
				<div id="secondbox" class="col-md-3">
					<div class="resources">
						<div class="dl">
						<h5> Downloads </h5>
						<%= link_to (image_tag("dl-cover-agency.jpg", :alt => "Download the pdf", size: "100x50", :class => "img-thumbnail")) %>
						</div>
					<div class="Contact">
						<h5> Contact: </h5>
				 		<%= mail_to "strategy@16circles.com" %> 
					</div>
					<div class="socializer" id="propagate">
						<h5> Share </h5>
						<div class="social">
						<%= link_to (image_tag("facebook.png", :alt => "Share on Facebook", size: "35x35", :class => "socialfilt")), "https://www.facebook.com/dialog/feed?app_id=245200332347570&link=http%3A%2F%2Fwww.16circles.com%2FSafeStreets&name=SafeStreets&redirect_uri=http%3A%2F%2Fs7.addthis.com%2Fstatic%2Fpostshare%2Fc00.html", :target => "_blank" %>
			
						<%= link_to (image_tag("twitter.png", :alt => "Share on Twitter", size: "35x35", :class => "socialfilt")), "https://twitter.com/share", :target => "_blank" %>

						<%= link_to (image_tag("linkedin.png", :alt => "Share on Linkedin", size: "35x35", :class => "socialfilt")), "https://twitter.com/share", :target => "_blank" %>
						</div> <!-- social -->
					</div><!-- socializer -->
				</div> <!-- secondbox -->
			</div> <!-- row -->
		</div> <!-- contentful -->
	</div> <!-- container fluid -->
