<% provide(:title, 'Collaboration') %>

  <div class="container-fluid">
	<div class="contentful">
			<div class="row">
				
				<div id="firstbox" class="col-md-9">
					<h1> Collaboration <h1>
					<hr class="underline">
					<h2>An open invitation to explore possibilities.</h2>

					<div>
						<p> Together, we may be able to establish, influence, solve, question, reduce, test or change something. </p> 
					</div>

						<div> 

							<%= form_for(@collaboration) do |f| %>

							<%= render '/common/collab' %>

							<div><%= f.label :name, "Your Name", class: "formarion" %><br>
							<%= f.text_field :name, autofocus: true, class: "boxy" %></div>

							<div><%= f.label :email, class: "formarion" %><br>
							<%= f.text_field :email, class: "boxy" %></div>

							<div><%= f.label :company, class: "formarion" %><br>
							<%= f.text_field :company, class: "boxy", class: "boxy" %></div>

							<div><%= f.label :phone, class: "formarion"  %><br>
							<%= f.text_field :phone, class: "boxy" %></div>

							<div><%= f.label :city, class: "formarion" %><br>
							<%= f.text_field :city, class: "boxy" %></div>

							<div><%= f.label :country, class: "formarion" %><br>
							<%= f.country_select :country, ["Pakistan"], class: "boxy" %></div>

							<div><%= f.label :message, class: "formarion" %><br>
							<%= f.text_area :message, class: "form-control", rows: 4 %></div><br>

							<div><%= f.label :humanizer_answer, @collaboration.humanizer_question, class: "formarion" %><br>
								<%= f.text_field :humanizer_answer, class: "boxy" %>
								<%= f.hidden_field :humanizer_question_id, class: "boxy" %></div>



							 <div><%= f.submit "Get in touch", class: "btn btn-default btn-info" %></div>

							<% end %>
					

						</div>
					</div> <!-- firstbox -->


					
							








			

				<div id="secondbox" class="col-md-3">
					<div class="resources">
						<div class="dl">
							<h5> Downloads </h5>
							<%= link_to (image_tag("dl-cover-agency.jpg", :alt => "Download the pdf", size: "100x50", :class => "img-thumbnail")) %>
						</div> <!-- dl -->
								
						<div class="Contact">
							<h5> Contact: </h5>
				 			<%= mail_to "collaborate@16circles.com" %> 
						</div> <!-- contact -->

						<div class="socializer" id="propagate">
							<h5> Share </h5>
								<div class="social">
									<%= link_to (image_tag("facebook.png", :alt => "Share on Facebook", size: "35x35", :class => "socialfilt")), "https://www.facebook.com/dialog/feed?app_id=245200332347570&link=http%3A%2F%2Fwww.16circles.com%2FSafeStreets&name=SafeStreets&redirect_uri=http%3A%2F%2Fs7.addthis.com%2Fstatic%2Fpostshare%2Fc00.html", :target => "_blank" %>
						
									<%= link_to (image_tag("twitter.png", :alt => "Share on Twitter", size: "35x35", :class => "socialfilt")), "https://twitter.com/share", :target => "_blank" %>

									<%= link_to (image_tag("linkedin.png", :alt => "Share on Linkedin", size: "35x35", :class => "socialfilt")), "https://twitter.com/share", :target => "_blank" %>
								</div> <!-- social -->
							</div> <!-- socializer -->
						</div> <!-- resources -->
					</div> <!-- secondbox -->
				</div> <!-- row -->
			</div> <!-- contentful -->
		</div> <!-- container-fluid -->

	