 <header class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-inner">
      <%= link_to "Safestreets", root_path , id: "logo"  %>
            
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Philosophy", '#' %></li>
              <li><%= link_to "Services",    '#' %></li>
              <li><%= link_to "Brand",    '#' %></li>
              <li><%= link_to "Government", '#' %></li>
              <li><%= link_to "Portend", '#' %></li>
                          </ul>
          </nav>
        </div>
      </div>
    </header>
