 <header class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "16 Circles", '#', id: "logo" %>
            <a class="brand" href="#"><%=image_tag "Logo-Mask-PNG.png", size:'45x45' %></a>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Philosophy", '#' %></li>
              <li><%= link_to "Services",    '#' %></li>
              <li><%= link_to "Brand",    '#' %></li>
              <li><%= link_to "Government", '#' %></li>
              <li><%= link_to "Portend", '#' %></li>
                          </ul>
          </nav>
        </div>
      </div>
    </header>
