<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

   
    
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <meta name="description" content="16 Circles is a digital consulting firm. Our advisory and consulting services encapsulate product development, strategy, transformation services, marketing, digital communication, operation automation and digital urban management. />


  <meta name="keywords" content=" 16 Circles, mobile strategy, digital urban management, digital consulting, web development, digital marketing , startups, startup thinking, strategic planning, digital strategy, urban transformation, digital privacy, digital communication, startup consulting, digital growth, brand strategy, digital branding, internet consulting, big data, data consulting, digital reporting. " /> 
  

    
    <%= render 'layouts/shim' %>
    </head>

<body>

<%= render '/layouts/header' %>
<div>
  <% flash.each do |key, value| %>
    <div id="fla" class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
 
<%= yield %>

<%= render '/layouts/footer' %>

</body>
</html>
