<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <meta property="og:image"  content="http://www.16circles.com/assets/Logo-0f7601a8c288b1e30e7f7fd30b5ac423.jpg" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <%= render 'layouts/shim' %>
    </head>

<body>

<%= render '/layouts/header' %>
 
<%= yield %>

<%= render '/layouts/footer' %>

</body>
</html>
